 <nav>
        <ul>
            <li><a href="/businesses/new">Add a Business</a></li>
        </ul>
    </nav>
    

{{!-- <section>
  <h1>Sustainable Businesses</h1>
  {{#each business}}
  <article class="business">
    <h2><a href="/businesses/{{_id}}">{{name}}</a></h2>
    <p>{{body}}</p>
  </article>
  {{/each}}
</section> --}}



<section>
  <h1>Sustainable Businesses</h1>
  {{#each businesses}}
  <article class="business">
    <h2><a href="/businesses/{{_id}}">{{businessName}}</a></h2>
    <p>{{body}}</p>
  </article>
  {{/each}}
</section>